.service_root {
	--s-r-p: clamp(350px, 250px + 10vw, 550px);
	width: var(--s-r-p);
	/*height: var(--s-r-p);*/
	background-color: var(--accent-primary-20);
	padding: 0;
	overflow: hidden;
}
.rounded_border {
	border-radius: 10px;
}
.service_img_div {
	height: clamp(150px, 50px + 10vw, 400px);
	overflow: hidden;
	width: 100%;
	object-fit: cover;
}

.service_img_div > img {
	width: 100%;
	object-fit: cover;
}

.service_texts {
	margin: 3px;
	padding: clamp(2px, 1px + 0.5vw, 5px);
	background-color: var(--accent-primary-40);
}
.service_texts * {
	font-weight: clamp(500, 450 + 0.5vw, 600);
	font-size: clamp(0.8rem, 0.8rem + 0.2vw, 1.1rem);
	margin: 0;
	padding: 0;
}

.name {
	font-size: clamp(0.9rem, 0.7rem + 0.6vw, 1.3rem);
	font-weight: 600;
	padding-bottom: 2px;
}
.description {
	font-size: clamp(0.8rem, 0.6rem + 0.4vw, 1.1rem);
	font-weight: 350;
}
.iter_text {
	padding: 6px;
	padding-top: 0;
	align-items: flex-start;
	justify-content: flex-start;
	/*background-color: var(--accent-primary-80);*/
}

.list_items {
	margin-left: 10px;
}
.phn {
	color: var(--accent-secondary-100);
}
.item_category {
	background-color: var(--accent-secondary-20);
}
