:root {
	--normal-nav-text: var(--secondary-color);
	--active-nav-text: var(--accent-secondary-100);
}
.navbar_topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--accent-primary-100);
	/*padding-left: var(--adaptive-padding);*/
	/*padding-right: var(--adaptive-padding);*/
}
.logo_div {
	display: flex;
	align-items: center;
	justify-content: center;
	/*height: 50px;
	width: 50px;*/
	/*background-color: goldenrod;*/
}
.nav_plus_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.nav_super {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav_super a {
	font-weight: 600;
	color: var(--normal-nav-text);
	margin: clamp(2px, 1px + 1vw, 15px);
}
.nav_super a:hover {
	background-color: var(--accent-secondary-20);

	color: var(--secondary-color-5);
}
.buttons_div {
	display: flex;
	align-items: center;
	justify-content: end;
}
@media (width < 600px) {
	.nav_super {
		padding-top: 10px;
	}
	.nav_super a {
		font-weight: 400;
	}
	.nav_plus_buttons {
		justify-content: space-between;
		flex-direction: column-reverse;
	}
}
@media (width>600) {
	.nav_super {
		margin-right: 50px;
	}
}
